.modal {
    position: absolute;
    width: 375px;
    background: white;
    box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.2);
    padding: 16px 32px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    color: #646565;
}

.icon {
    color: #424242;
    transition: all 0.2s ease;
}

.icon:hover {
    transform: scale(1.2);
}
