.content {
    width: 95%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0 2rem;
    overflow-x: hidden;
}

.title {
    width: 100%;
    text-align: center;
}

.media-card,
.simple-card,
.modal-app {
    width: 30%;
    justify-content: center;
}
